//
// Load core variables and mixins
// --------------------------------------------------
@import "variables.less";
@import "mixins.less";

//** Modal Variables
@modal-content-padding-sides: 24px;
@modal-title-padding-top: 24px;
@modal-title-padding-bottom: 0px;
@modal-inner-padding-top: 0px;
@modal-inner-padding-bottom: 16px;
@modal-footer-padding: 7px;
@modal-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);

// Components w/ JavaScript
@import "modal-material.less";
